.search-bar {
    display: flex;
    align-items: center;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #69adc1;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background-color: #d2d8d8;
}

button:hover {
    background-color: #0077b3;
}